body {
    background-color:#FFFFFF;
    background-image: linear-gradient(#FFFFFF, #90c7e3);
    background-repeat: no-repeat;
    color: #666666
    font-family: "Arial";
}

header {
    background-color:#000033;
    color: #FFFFFF;
    background-image: url(images/sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 60px;
    padding-top: 10px;
    text-align: center;
}

nav {
    background-color: #90C7E3;
    font-weight: bold;
    text-align: center;
    padding-top: 10px
}

strong {
    color:#000000;
}

h1 { 
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Times New Roman";
    font-weight:bold;
}

h2 {
    color:#3399CC;
    text-shadow: 1px, 1px, 1px #CCCCCC;
    font-family: "Geaorgia";
    
}

h3 {
    color:#000033;
    font-family: "Serif";
}

.resort {
    color:#5C7FA3;
    font-weight: bold;
}

footer {
    font-size:75%;
    font-style: Italic;
    text-align: center;
    font-family: "Serif";
    padding: 20px;
    
}

ul {
    list-style-image: url(images/marker.gif)
}

main {
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display:block; 
}
#contact {
    font-size: 90%
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #FFFFFF;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px, 3px, 3px #333333;
}

#homehero {
    height: 300px;
    background-image: url(images/coasthero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#yurthero {
    height: 300px;
    background-image: url(images/yurthero.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
}

#trailhero {
    height: 300px;
    background-image: url(images/trailhero.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
}
